<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %> 
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos nuestros productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for (let i = 0; i < info.length; i++) {%>				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="http://localhost:3000/relojes/<%= info[i].id%>">
							<figure class="product-box_image">
								<img src="<%= info[i].nombre_archivo_imagen%>" alt="">
							</figure>
							<article class="product-box_data">
								<h2><%= info[i].nombre_producto%></h2>
								<p><%= info[i].descripcion%></p>
								<p>comentario: <%= info[i].comentario_productos.length %></p>
								<a href="http://localhost:3000/users/profile/<%= info[i].usuario_id%>">Creador: <%= info[i].productos_usuarios.usuario %></a>
							</article>
						</a>
					</section>
				</div>
			<% }%>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>