<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<%for (let i = 0; i < info.length; i++) {%>				
				<%if (info[i].estado === 1 ){%>	
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="http://localhost:3000/relojes/<%= info[i].nombre%>">
							<figure class="product-box_image">
								<img src="<%= info[i].imagen%>" alt="">
							</figure>
							<article class="product-box_data">
								<h2><%= info[i].nombre%></h2>
								<p><%= info[i].descripcion%></p>
								<% if (info[i].comentarios.length > 0) { %>
									<p>Comentarios: <%= info[i].comentarios.length %></p>
								<% }} %>
							</article>
						</a>
					</section>
				</div>
			<% }%>
		</div>
	</div>


	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<%for (let i = 0; i < info.length; i++) {	%>			
				<%if (info[i].estado === 2 ){%>	
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="http://localhost:3000/relojes/<%= info[i].nombre%>">
							<figure class="product-box_image">
								<img src="<%= info[i].imagen%>" alt="">
							</figure>
							<article class="product-box_data">
								<h2><%= info[i].nombre%></h2>
								<p><%= info[i].descripcion%></p>
								<% if (info[i].comentarios.length > 0) { %>
									<p>Comentarios: <%= info[i].comentarios.length %></p>
								<% }} %>
							</article>
						</a>
					</section>
				</div>
			<% }%>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>