<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%-producto.nombre_producto%></h2> 
			<% if (locals.user != undefined && locals.user.id === producto.usuario_id) { %>
				<p class="product-detail-description">
					<a href="http://localhost:3000/stock/edit/<%= producto.usuario_id %>">Editar</a>
				</p>
				<p class="product-detail-description">
					<a href="http://localhost:3000/stock/borrar/<%= producto.usuario_id %>">Borrar</a>
				</p>
			<% } %>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%-producto.nombre_archivo_imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						 <% for (let i = 0; i < coment.length; i++) {%>
							<article>
								<img src="<%= coment[i].usuarios_comentario.foto_de_perfil%>" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="http://localhost:3000/users/profile"><%-coment[i].usuarios_comentario.usuario %></a> </strong>
									<p><%=coment[i].texto_comentario%> </p>
								</div>
							</article>
						<% } %> 
					</section>
					<form class="form" action="http://localhost:3000" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>