<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="http://localhost:3000/stock/add" method="POST">
					<label for="nombre_archivo_imagen">Foto del Producto:</label><br>
  					<input class="formCompletar" type="text" id="nombre_archivo_imagen" name="nombre_archivo_imagen" value="<%= locals.old !== undefined && old.nombre_archivo_imagen ? old.nombre_archivo_imagen: "" %>"><br><br>
					<% if (locals.errors && errors.nombre_archivo_imagen) { %>
						<p class="error"><%= errors.nombre_archivo_imagen.msg%></p>
					<% } %>

					<label for="nombre_producto">Nombre del Producto:</label><br>
					<input class="formCompletar" type="text" id="nombre_producto" name="nombre_producto" value="<%= locals.old !== undefined && old.nombre_producto ? old.nombre_producto: "" %>"><br><br>
					<% if (locals.errors && errors.nombre_producto) { %>
						<p class="error"><%= errors.nombre_producto.msg%></p>
					<% } %>

					<label for="descripcion">Descripción:</label><br>
					<input class="formCompletar" type="text" id="descripcion" name="descripcion" value="<%= locals.old !== undefined && old.descripcion ? old.descripcion: "" %>"><br><br>
					<% if (locals.errors && errors.descripcion) { %>
						<p class="error"><%= errors.descripcion.msg%></p>
					<% } %>

					<input class="botonForm" type="submit" value="Agregar producto">
				</form>
			</h2>
		</div>
	</div>
	
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>