<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%- datos.foto_de_perfil %>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%- datos.usuario %>
						<a href="http://localhost:3000/users/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					
					<h3>
						<%- datos.mail %>
					</h3>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= prod.length %> productos</li> <% // esto no tiene que estar mas hardcodeado %>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<% if (prod.length === 0) %>
				<%for (let i = 2; i < prod.length; i++) {%>	
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="http://localhost:3000/relojes/<%= prod[i].id%>">
								<figure class="product-box_image">
									<img src="<%= prod[i].imagen%>" alt="cafetera moulinex">
								</figure>
								<article class="product-box_data">
									<h2><%= prod[i].nombre %></h2>
									<p><%= prod[i].descripcion %></p>
									<% if (prod[i].comentario_productos.length > 0) { %>
										<p>Comentarios: <%= prod[i].comentarios.length %></p>
									<% } %>
								</article>
							</a>
						</section>
					</div>
				<% }%>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>