<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2  class="col-12">
				<form action="http://localhost:3000/users/addProfile" method="POST" novalidate>
					<label for="email">Email:</label><br>
					<input class="formCompletar" type="email" id="email" name="email" value="<%= locals.old !== undefined && old.email ? old.email : ""  %>"><br><br>
					<% if (locals.errors && errors.email) {%>
							<p class="error"><%= errors.email.msg%></p>
					<% } %>
					<label for="usuario">Usuario:</label><br>
					<input class="formCompletar" type="text" id="usuario" name="usuario" value="<%= locals.old !== undefined && old.usuario ? old.usuario : ""  %>"><br><br>
					<% if (locals.errors && errors.usuario) {%>
						<p class="error" ><%= errors.usuario.msg%></p>
					<% } %>
				  
					<label for="password">Contraseña:</label><br>
					<input class="formCompletar" type="password" id="password" name="password" value="<%= locals.old !== undefined && old.password ? old.password : ""  %>"><br><br>
					<% if (locals.errors && errors.password) {%>
						<p class="error" ><%= errors.password.msg%></p>
					<% } %>
				  
					<label for="fechaNacimiento">Fecha de Nacimiento:</label><br>
					<input class="formCompletar" type="date" id="fechaNacimiento" name="fechaNacimiento" ><br><br>
				  
					<label for="nroDocumento">Número de Documento:</label><br>
					<input class="formCompletar" type="number" id="nroDocumento" name="nroDocumento" ><br><br>
				  
					<label for="fotoPerfil">Foto de Perfil:</label><br>
  					<input class="formCompletar" type="text" id="fotoPerfil" name="fotoPerfil" ><br><br>
				  
					<input class="botonForm" type="submit" value="Registrarse">
				</form>				  
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>